body {
    padding: 30px;
    
}

.main_container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:repeat(12);
    gap: 10px;
    
   
}

.item1{
    grid-row: 1 / 2;
    border: 1px solid black;
    gap: 10px;
}

.item2{
    grid-row: 2 / 5;
    border: 1px solid black;
    gap: 5px;
    display: flexbox;
    align-items: center;
}

.item3{
    grid-row: 6 / 12;
    border: 1px solid black;
    gap: 5px;
}
.slog {
    color:black;
    font-family: 'Inter', sans-serif;
    weight:bold;
    font-size: 25;
    margin-left: 10px;
}
.Logo { width: 150px; height: 150px;
    margin-top: 10px;
    margin-left: 10px;
}
.main_img {
    width: 800px;}

 ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        margin-right: 70px;
        gap: 25px;
    }

 ul li a {

        text-decoration: none;
        color: black;
        display: block;
        font-size: 15px;
        border: 2px solid black;
        padding: 5px}
    
 .item2 {
    border: 1px solid black;
     background-image:  linear-gradient(145deg, blue, gray);
     }

    .A {
      width: 30%;
      margin-left: 550px;
    }
    .B {
      width: 30%;
      margin-left: 550px;
    }
    .C {
      width: 30%;
      margin-left: 550px;
    }
    .D {
      width: 30%;
      margin-left: 550px;
    }
    
    label {
      margin-left: 550px;
    }
    button {
      width: 30%;
      margin-left: 550px;
      margin-bottom: 15px;
    }
@media screen and (min-width: 421px){

.Promos{

  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 250px;
  gap: 1em;
}

.Promos img {
border: 1px solid black;
width: 100%;
height: 100%;
}


    

}


@media screen and (max-width: 420px){

  body {
    background-color: black
  }

.Promos{

  display: grid;
  grid-template-columns: auto auto auto;

  gap: 1em;
}

.Promos img {
border: 1px solid black;
width: 100%;
height: 100%;

}

.item2 {
    border: 1px solid black;
     background-image:  linear-gradient(145deg, blue, gray);
     }

    .A {
      width: 20%;
      margin-left: 35px;
    }
    .B {
      width: 20%;
      margin-left: 35px;
    }
    .C {
      width: 20%;
      margin-left: 35px;
    }
    .D {
      width: 20%;
      margin-left: 35px;
    }
    
    label {
      margin-left: 25px;
    }
    button {
      width: 10%;
      margin-left: 35px;
      margin-bottom: 15px;
}

.item1 {
    display: flex;
   justify-content: column;
    color: aliceblue;
}

ul li a {
    color:aliceblue;
    border: 1px solid white;
}

}